body{
   width: 100%;
   background-color: #eeeeee;
   
}
.wrapper{
  width: 33%;
  margin: 0 auto;
  padding: 5%;
  background-color: #ffffff;

}
.top, .motivation, .contacts, .comment{
 
  width: 100%;
  border-bottom: 2px solid #7a7a7a;
  font: 20px Arial, sans-serif; 
}
.top img{

  width: 50%;
  margin-left: 25%;
  
 
}
.comment{
  border-bottom: none;
  
}
h1, h4{
 text-align: center; 

  
}

 p{
   margin-left:2%;
  font: 20px Arial, sans-serif;
  line-height:30px;
   
}

li{
   margin-left:-3%;
  line-height:30px;
   font: 20px Arial, sans-serif;

}

a {color: #0000FF;
  
  }
