body{

  width: 100%;
  min-height: 100%;
  background: url("../img/bk.png");
  background-size: 100% 100%;
  background-position: left, right;
  background-repeat: repeat-y, repeat-x;
  
}
.wrapper{
  width: 74%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 50px; 
  padding: 0px;
  background-color: #ffffff; 
  box-shadow:2px 3px 2px 2px rgba(0, 0, 0, 0.3);

}

.header{
	width:100%;
	background: #ffffff;
	padding: 0px;
	margin: 0px;
}

.logo{
	width: 280px;
	height: 163px;
	margin-left: 4%; 	
	float: left;
}

.contact{
	width: 150px;
	float: left;
	margin: 1% 0% 0% 52%;
		
	}
.contact ul{
	font: 12px Arial, sans-serif;
	color: #41a1b9;
	padding: 0;
	margin: 0;
	}
.flags {
	width: 40%;
	float: right;
        margin: 1% 1% 0% 0% ;
   	}
.flags img{
	float: right;
	margin: 0% 2% 0% 0%;
			
	}

.banner	{	
	width: 100%;	
	clear: both;	 
	}
 
ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  display: block;
  width: 100%;
  height: 35px;
  background-color: #353535;
  box-shadow:2px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

   .menu > li {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 35px;
  margin: 0;
  line-height: 40px;
  vertical-align: top;
  position: relative;
}

.submenu {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #353535;
}
.menu > li:hover > ul {
  display: block;
}
  
.menu > li a:hover {
    color: #ffffff; 
    background-color: #353535; 
  }
   .menu > li:hover ul { 
    display: block;
    float: left;
    
}

.menu> li img{
   	margin-left: 10px;
   }
   
 .clearfix:after{
   content: " ";
   display: block;
   clear: both;

	 }
	

 .fon{

  width: 100%;
  background: url("../img/fon.jpg");
  float: left;
  box-shadow:2px 1px 2px 2px rgba(0, 0, 0, 0.3);

   }
   .fon h3{
   text-align: center;
   margin-top: 10px;
   font: bold  100% Arial, serif;
   color: #424c43;
	}

  .fon a{
     text-decoration: none;
     color:  #3d3f3d;
     line-height: 20px;
     
   }

	.nav{
	width: 20%;
	float: left;
	background: #edeef0;
	}
.nav li,
 .news li {
	padding-left: 16px;	
 
}

.main{
	float: left;
	width: 40%;
	
		
	}
    .news{
    	width: 22%;
    	float: right;
    	background: #edeef0;
    	padding-right: 5px;
    }
footer{

    display: fixed; 
    height: 100px;
    left: 0; 
    bottom: 10px; 
    text-align: center;
    line-height: 40px;
    padding: 10px;    
    color: #ffffff; 
    width: 100%; 
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.3);
	}

footer p{
	font: 12px Arial, sans-serif;
 
		
}


	

	
